{
  auto_https off
}

https://localhost {
  tls /certs/localhost.pem /certs/localhost-key.pem

  root * /srv
  file_server

  handle_path /api/auth/* {
    reverse_proxy auth:8080
  }

  handle_path /api/catalog/* {
    reverse_proxy catalog:8080
  }

  handle_path /api/orders/* {
    reverse_proxy orders:8080
  }
}
